        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">
                    <img src="/assets/img/logo1.svg" alt="Logo" style="width: 200px; height: auto;">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#Produtos">Produtos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Assinaturas">Assinaturas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Sobre">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Idealizadores">Idealizadores</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Contato">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">SUCO MARIA PEREGRINA</div>
                <div class="masthead-subheading">ESCOLHA SER SAUDÁVEL, MAS NÃO ABRA MÃO DO SABOR!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="https://api.whatsapp.com/send?phone=5517988117656">FALE CONOSCO</a>
            </div>
        </header>
        <!-- Services-->
<section class="page-section">
            <div class="container">
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-dark" id="Produtos">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Produtos</h2>
                   
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <img class="img-fluid" src="assets/img/portfolio/suco330.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <h4 class="portfolio-caption-heading">Suco 330ml</h4>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">

                                <img class="img-fluid" src="assets/img/portfolio/suco1l.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <h4 class="portfolio-caption-heading">Suco 1L</h4>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        
                                <img class="img-fluid" src="assets/img/portfolio/suco2l.jpg" alt="..." />
                            </a>
                            
                            <div class="portfolio-caption">
                                <h4 class="portfolio-caption-heading">suco 2L</h4>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- assinaturas-->
        <section class="page-section" id="Assinaturas">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">ASSINATURA</h2>
                    <h3 class="section-subheading text-muted">CONHEÇA NOSSAS ASSINATURAS</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">START</h4>
                        <p class="text-muted">Receba em sua residência um
suco de laranja de 1 Litro natural, integral, sem adição de açúcares e conservantes, todasemana.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-crown fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">TOP</h4>
                        <p class="text-muted">Receba em sua residência um
suco de laranja de 2 Litros natural, integral, sem adição de açúcares e conservantes, toda semana.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-gear fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">CUSTOMIZAR</h4>
                        <p class="text-muted">Caso você queira customizar o seu plano, basta você comunicar-se com nossa empresa e nos falar suas preferências.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section bg-light" id="Sobre">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">sobre</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/Produção.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Produção do Suco Maria Peregrina</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Na produção de suco de laranja, frutas maduras são colhidas manualmente em pomares. Após lavagem meticulosa, as laranjas são cuidadosamente prensadas para extrair seu suco naturalmente doce, que é filtrado e engarrafado para preservar seu sabor fresco e nutritivo.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/mapa.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Locais Onde Nós Vendemos o Suco</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">O suco Maria Peregrina pode ser encontrado na Escola Maria Peregrina, no Brechó Maria Peregrina e na rede de pizzarias Bella Capri.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/beneficios.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Benefícios do Suco Maria Peregrina</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">O suco de laranja 100% natural, sem conservantes nem açúcares adicionados, é rico em vitamina C para fortalecer o sistema imunológico, e contém antioxidantes que protegem as células, e oferece hidratação e bem-estar com sua doçura natural refrescante.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/instituicao.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Nossa Institiuição</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">A instituição Maria Peregrina abriga uma escola católica que proporciona uma educação integral e valores cristãos, promovendo um ambiente inclusivo e acolhedor para o desenvolvimento acadêmico e espiritual dos alunos.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Faça
                                <br />
                                Parte Desse
                                <br />
                                Projeto!!!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="Idealizadores">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Esses são Nossos Idealizadores</h2>
                    <h3 class="section-subheading text-muted">Conheça Um Pouco Mais Sobre Nossos Idealizadorers</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/maxw.jpg" alt="..." />
                            <h4>Max Lopes</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profmaxwada" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/profmaxwada/" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/co-fundadora.jpg" alt="..." />
                            <h4>Mildrem Wada</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mildrenduqueoficial/" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/mildrenduque_oficial/" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/rogerio.jpg" alt="..." />
                            <h4>Rogério Fisher</h4>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/rogerio.fduque" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/rogerio.fischerduque/" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Esse São Nossos Idealizadores.</p></div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="Contato">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Entre em Contato Conosco</h2>
                    <h3 class="section-subheading text-muted">Caso queira falar conosco coloque suas informações.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Seu Nome" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Nome Requerido.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Seu E-mail" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">Um e-mail é requerido.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">este e-mail não é válido.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Seu número" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">seu nome é requerido.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Coloque uma mensagem" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">uma mensagem é requerida.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Envio de Mensagem Concluído, Obrigado!!!</div>
                            <br />
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro no Envio da Mensagem</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Envie Sua Mensagem</button></div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">suco 330ml</h2>
                                    <p>Este é o suco Maria Peregrina de 330ml. </p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">suco de 1L</h2>
                                    <p class="item-intro text-muted">Este é o suco Maria Peregrina de 1L.</p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                    fechar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">suco de 2L</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                   fluid d <img class="img--block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Finish
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Identity
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>